openapi: 3.0.0   # Open api version

info:
  title: LMKor
  version: "v0.1"
  contact:
    name: AInizer - Lee hoseop
  description: |
    This app is LMKor
    ---
      How to use:

      * First, Fill what the base text. This will be base of Fairytale.
      * And then, Fill number in length. Text is created as long as "length". I recommend between 100 and 300.
      * If length is so big, generate time will be long.
    ---
    And you can use this in [demo page](https://main-l-mkor-fpem123.endpoint.ainize.ai/).

    Origin Git repo >> [kiyoungkim1/LMkor](https://github.com/kiyoungkim1/LMkor)

servers:
  - url: https://main-l-mkor-fpem123.endpoint.ainize.ai/

paths:
  /predict:
    post:
      requestBody:
        required: true
        description: |
          This request will generate fairytale story.

          Request body example

              name: One day,
              length: 150

          curl example

              curl -X POST

        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: "Your Fairytale base."
                samples:
                  type: string
                  description: "The size of text."
              required:
                - text
                - samples
      responses: # Set response
        '200':
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: object
        '400':
          description: "Bad Request Error"
        '429':
          description: "Too many requests"
        '500':
          description: "Server-side Error"


  /generate:
    post:
      requestBody:
        required: true
        description: |
          This request will generate fairytale story.

          Request body example

              name: One day,
              length: 150

          curl example

              curl -X POST

        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: "text."
                samples:
                  type: string
                  description: "samples."
                length:
                  type: string
                  description: "The size of text."
              required:
                - text
                - samples
                - length
      responses: # Set response
        '200':
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: object
        '400':
          description: "Bad Request Error"
        '429':
          description: "Too many requests"
        '500':
          description: "Server-side Error"


  /summarize:
    post:
      requestBody:
        required: true
        description: |
          This request will generate fairytale story.

          Request body example

              name: One day,
              length: 150

          curl example

              curl -X POST

        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: "Your Fairytale base."
                samples:
                  type: string
                  description: "samples."
              required:
                - text
                - samples
      responses: # Set response
        '200':
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: object
        '400':
          description: "Bad Request Error"
        '429':
          description: "Too many requests"
        '500':
          description: "Server-side Error"



