<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LMKor</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<script type="text/javascript">
    let predict_time_obj = undefined;
    let generate_time_obj = undefined;
    let summarize_time_obj = undefined;
    let flag = undefined;

    window.onload = () => {
        predict_time_obj = document.getElementById("predict_timer");
        generate_time_obj = document.getElementById("gpt-3_timer");
        summarize_time_obj = document.getElementById("summarize_timer");
        flag = false;       // 더블 클릭 체크
    }


    function double_submit_check() {
        if (flag) {
            console.log("double");
            return true;
        }
        else {
            flag = true;

            return false;
        }
    }


    function send_req(types) {
        if (double_submit_check()){
            document.getElementById(`${types}_warning`).innerText = "It's already working.";
            return ;
        }

        const text = document.getElementById(`${types}_text`).value;
        const samples = document.getElementById(`${types}_samples`).value;

        if (text == '') {
            document.getElementById(`${types}_warning`).innerText = 'Please fill text!';
            flag = false;
            return ;
        }

        const formData = new FormData();
        const url = `/${types}`;
        let start = 0;

        formData.append('text', text);
        formData.append('samples', samples);

        if (types == "generate") {
            const length = document.getElementById("gpt-3_length").value;
            formData.append('length', length);
        }

        // timer
        timer = setInterval(() => {
            start += 1;

            if (types == "predict")
                predict_time_obj.innerText = `${start / 10} 's`;
            else if (types == "generate")
                generate_time_obj.innerText = `${start / 10} 's`;
            else if (types == "summarize")
                summarize_time_obj.innerText = `${start / 10} 's`;
        }, 100);


        fetch (url, { method: 'POST', body: formData, })
        .then(response => {
            if (response.status === 200) {
                return response.json();
            } else {
                clearInterval(timer);
                flag = false;
            }
        }).catch(err => {
            clearInterval(timer);
            flag = false;
            document.getElementById(`${types}_warning`).innerText = err;
        }).then(data => {
            console.log(data);
            const table = document.getElementById(`${types}_result`);

            // 기존 내용 삭제
            while (table.hasChildNodes()) {
                table.removeChild(table.lastChild);
            }

            for (i in data) {
                const row = table.insertRow();
                const idx = row.insertCell(0);
                const text = row.insertCell(1);

                idx.style.width = "20%";
                text.style.width = '70%';
                text.style.height = '60pt';

                idx.innerHTML = i;
                text.innerHTML = data[i];

                console.log(data[i]);
            }

            clearInterval(timer);

            if (types == "predict")
                predict_time_obj.innerText = 'Done!';
            else if (types == "generate")
                generate_time_obj.innerText = 'Done!';
            else if (types == "summarize")
                summarize_time_obj.innerText = 'Done!';

            flag = false;
        }).catch(err => {
            clearInterval(timer);
            flag = false;
            document.getElementById(`${types}_warning`).innerText = err;
        });

    }

</script>
<body>
    <div class="styles">
        <style>
                #button{
                    border-top-left-radius: 5pt;
                    border-top-right-radius: 5pt;
                    border-bottom-left-radius: 5pt;
                    border-bottom-right-radius: 5pt;
                }

                #length{
                    width: 70px;
                    height: 30px;
                    border-top-left-radius: 5pt;
                    border-top-right-radius: 5pt;
                    border-bottom-left-radius: 5pt;
                    border-bottom-right-radius: 5pt;
                }

                table {
                  border-spacing: 10px;
                  border-collapse: separate;
                }

        </style>
    </div>
    <div class="container">
        <div class="jumbotron mt-3">
            <div class="intro">
                <br>
                <!-- Project title -->
                <h1>LMKor</h1><br>
                <a>Origin Git hub repository : </a> <a href="https://github.com/kiyoungkim1/LMkor" target="_blank">kiyoungkim1/LMkor</a><br>
                <a>My Git hub repository : </a> <a href="https://github.com/fpem123/LMkor" target="_blank">fpem123/LMkor</a><br>
                <a>Open API : </a> <a href="" target="_blank">On Ainize</a><br>
            </div>

            <hr width="90%">

            <div class="Notice">
                <h3>Notice</h3>
                <ul>
                    <li>Kiyoung Kim 님께서 만드신 Korean transformers 모델을 사용해 볼 수 있는 페이지입니다.</li>
                    <li>Bert base의 prediction 모델과 summarize 모델을 사용해 볼 수 있습니다.</li>
                </ul>
            </div>

            <br><hr width="90%">

            <details>
                <summary>Predict model</summary>

                <div class="sample">
                    <h3><label>Example</label></h3>
                    <h5><label>Input</label></h5>
                    <label>&nbsp;&nbsp;Text: 안녕하세요 저는 학생입니다. 그리고 저의 취미는 &lt;mask&gt; 입니다.</label><br>
                    <label>&nbsp;&nbsp;How many?: 4</label><br><br>
                    <h5><label>Predict result</label></h5>
                    <label>&nbsp;&nbsp;kykim/albert-kor-base: 취미 / 미술 / 블로그 / 인테리어</label><br>
                    <label>&nbsp;&nbsp;kykim/bert-kor-base: 바로 / 미술 / 낚시 / 만들기</label>
                </div>

                <br><hr width="90%">

                <div class="bert_predict">
                    <h3>Bert predict try it!</h3><br>
                    <label>Prediction text. That must have &lt;mask&gt;. </label><br>
                    <textarea id="bert_text" style="width:75%; resize: none;" rows="3"></textarea><br>
                    <label>How many?: </label>
                    <select id="bert_samples">
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    <button class="btn btn-primary btn=lg" type="submit" id="bert_button" onclick="send_req('bert');">bert</button><br>
                    <label>Timer:&nbsp;</label><label id="bert_timer">0.0</label><br>
                    <b><label id="bert_warning" style="color:red;"></label></b>
                </div>

                <br>

                <div class="result">
                    <h3><label>Result</label></h3>
                    <!-- Story generate result table -->
                    <table id="bert_result" width="100%"></table>
                </div>

                <br><hr width="90%">

                <div class="albert_predict">
                    <h3>Albert predict try it!</h3><br>
                    <label>Prediction text. That must have &lt;mask&gt;. </label><br>
                    <textarea id="albert_text" style="width:75%; resize: none;" rows="3"></textarea><br>
                    <label>How many?: </label>
                    <select id="albert_samples">
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    <button class="btn btn-primary btn=lg" type="submit" id="albert_button" onclick="send_req('albert');">albert</button><br>
                    <label>Timer:&nbsp;</label><label id="albert_timer">0.0</label><br>
                    <b><label id="albert_warning" style="color:red;"></label></b>
                </div>

                <br>

                <div class="result">
                    <h3><label>Result</label></h3>
                    <!-- Story generate result table -->
                    <table id="albert_result" width="100%"></table>
                </div>

                <br><hr width="50%">
            </details>

            <details>
                <summary>Generate model</summary>

                <div class="sample">
                    <h3><label>Example</label></h3>
                    <h5><label>Input</label></h5>
                    <label>&nbsp;&nbsp;Text: 안녕하세요.</label><br>
                    <label>&nbsp;&nbsp;How many: 1</label><br>
                    <label>&nbsp;&nbsp;Size: 150</label><br><br>
                    <h5><label>Generate result</label></h5>
                    <label>&nbsp;&nbsp;안녕하세요 요즘 코로나 때문에 밖에 나가기도 힘들고 집에서 보내는 시간이 더 많은데요,,! 그래서 집에서 간단하게 할 수 있는
                        요리들을 많이 만들게 되는 것 같아요!! 특히, 에어프라이어는 진짜 필수템이라고 할만큼, 없으면 안되는 식품 중 하나인데 이번에 제가 사용해볼
                        에어프라이어 제품은에어프라이어 추천 제품! 에어메이드 에어프라이어를 소개해드릴게요 : ) 에어프렌즈 에어프라이어 추천 제품으로 에어프라이어가 도착했어요!
                        에어프라이어의 장점은 역시, 빠른 예열과 빠른 세척인데요! 에어프라이의 경우, 예열하는 것도 정말 중요한 부분이잖아요!
                        하지만 에어메이트 에어프라이어 같은 경우에는, 기름 배출구를 열어주고, 세척을 해줘야하는 번거로움이 전혀 없기 때문에 너무 편하더라구요!
                        이렇게, 에어필터가 함께 들어있어요! 정말, 너무 간편하죠? ㅎㅎ에어메이드의 에어프라이어추천 제품 답게, 에어프라이기 전용 기름받이와,
                        전용팬 그리고 바스켓이 함께 들어있는데요! 기름받침대가 있기 때문에, 세척이 정말 간편해요! 그리고 전용 팬에는 이렇게 기름이 떨어지는 구멍이 있어서,
                        기름이 정말 쏙 빠지게 되어 있더라구요! 게다가 바스켓은 따로 분리가 되기 때문에 세척이 너무 편리해요! 저는 에어프라이어로 요리를 할때, 항상,
                        이렇게 기름을 받칠 수 있게 되어 있는 바스켓을 사용해서 음식을 만들어 먹는 편인데요, 에어프라이어에는 기름 받침이 없어서, 정말 불편하더라구요!
                        ㅎㅎ그래서 항상 바스켓에 기름을 받아놓고, 사용하고 있는데 정말 너무너무너무 편하더라구요 : d 바스켓에는 이렇게 기름 받침대가 따로 있기때문에,
                        바스켓 세척할 때도 아주 편하더라구요 ㅎㅎ 바스켓의 경우에도, 분리가능한데요! 세척하기가 정말 편리해서 너무 좋더라구요! 바스켓 내부에는,
                        물받이를 따로 넣을 수 있기 떄문에, 설거지할 때 너무
                    </label>
                </div>

                <br><hr width="90%">

                <div class="generate">
                    <h3>Try it!</h3><br>
                    <label>Base text: </label>
                    <input type="text" id="gpt-3_text" style="width:40%">
                    <label>How many?: </label>
                    <select id="gpt-3_samples">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <label>&nbsp;Size?: </label>
                    <select id="gpt-3_length">
                        <option value="100">100</option>
                        <option value="150">150</option>
                        <option value="200">200</option>
                        <option value="250">250</option>
                        <option value="300">300</option>
                    </select>
                    <button class="btn btn-primary btn=lg" type="submit" id="gpt-3_button" onclick="send_req('gpt-3');">Summit</button><br>
                    <label>Timer:&nbsp;</label><label id="gpt-3_timer">0.0</label><br>
                    <b><label id="gpt-3_warning" style="color:red;"></label></b>
                </div>

                <br><hr width="90%">

                <div class="result">
                    <h3><label>Result</label></h3>
                    <!-- Story generate result table -->
                    <table id="gpt-3_result" width="100%"></table>
                </div>

                <br><hr width="50%">
            </details>

            <details>
                <summary>Summarize model</summary>

                <div class="sample">
                    <h3><label>Example</label></h3>
                    <h5><label>Input</label></h5>
                    <label>&nbsp;&nbsp;천재적인 두뇌와 재능으로 세계 최강의 무기업체를 이끄는 CEO이자, 타고난 매력으로 셀러브리티 못지않은 화려한 삶을 살아가던 억만장자 토니 스타크.
                        아프가니스탄에서 자신이 개발한 신무기 발표를 성공리에 마치고 돌아가던 그는 게릴라군의 갑작스런 공격에 의해 가슴에 치명적인 부상을 입고 게릴라군에게 납치된다.
                        가까스로 목숨을 건진 그에게 게릴라군은 자신들을 위한 강력한 무기를 개발하라며 그를 위협한다. 그러나 그는 게릴라군을 위한 무기 대신,
                        탈출을 위한 무기가 장착된 철갑수트를 몰래 만드는 데 성공하고, 그의 첫 수트인 ‘Mark1’를 입고 탈출에 성공한다.
                        미국으로 돌아온 토니 스타크는 자신이 만든 무기가 많은 사람들의 생명을 위협하고, 세상을 엄청난 위험에 몰아넣고 있다는 사실을 깨닫고 무기사업에서 손 뗄 것을 선언한다.
                        그리고, Mark1을 토대로 최강의 하이테크 수트를 개발하는 데 자신의 천재적인 재능과 노력을 쏟아 붓기 시작한다. 탈출하는 당시 부서져버린 Mark1를 바탕으로 보다 업그레이드 된
                        수트 Mark2를 만들어낸 토니 스타크. 거기에 만족하지 않고, 숱한 시행착오와 실패 끝에 자신의 모든 능력과 현실에서 가능한 최강의 최첨단 과학 기술이 집적된 하이테크 수트 Mark3를 마침내 완성,
                        최강의 슈퍼히어로 ‘아이언맨’으로 거듭난다. 토니 스타크가 탈출하는 과정을 통해 Mark1의 가공할 위력을 확인한 게릴라 군은 토니 스타크가 미처 회수하지 못한 Mark1의 잔해와 설계도를 찾아낸다.
                        Mark1을 재조립하여 그들의 목적을 이루기 위한 거대하고 강력한 철갑수트를 제작하려는 음모를 꾸미는 게릴라군.
                        토니 스타크가 갖고 있던 에너지원을 훔쳐 ‘아이언맨’을 능가하는 거대하고 강력한 ‘아이언 몽거’를 완성한 그들은 세계 평화를 위협하고, 토니 스타크는 그들의 음모과 배후세력이 누구인지를 알게 되는데...!
                    </label><br>
                    <label>출처: <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=44885" target="_blank">네이버 영화</a></label><br><br>
                    <h5><label>Summarize result</label></h5>
                    <label>&nbsp;&nbsp;천재적인 두뇌와 재능으로 세계 최강의 무기업체를 이끄는 ceo이자, 세계적인 강장자 토니 스타크는 자신의 모든 능력과 현실에서
                        가능한 최고의 최첨단 과학 기술이 집적된 하이테크 수트를 개발하려는 음모와 배후세력이 누구인지 알게 되는 아이언맨 으로 거듭날 것이다.
                        로버트 스타크크를 마침내 완성, 최고의 영장과 배후를 파괴할 수 있는 high high tec 기술 개발에 자신의 천재적 재능과 노력을 쏟아 부부른 결과,
                        마침내 최고 수트 mark1의 잔해와 설계도를 찾아냈다.</label>
                </div>

                <br><hr width="90%">

                <div class="summarize">
                    <h3>Try it!</h3><br>
                    <label>Long text </label><br>
                    <textarea id="summarize_text" style="width:75%; resize: none;" rows="10"></textarea><br>
                    <label>How many?: </label>
                    <select id="summarize_samples">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <button class="btn btn-primary btn=lg" type="submit" id="summarize_button" onclick="send_req('summarize');">Summit</button><br>
                    <label>Timer:&nbsp;</label><label id="summarize_timer">0.0</label><br>
                    <b><label id="summarize_warning" style="color:red;"></label></b>
                </div>

                <br><hr width="90%">

                <div class="result">
                    <h3><label>Result</label></h3>
                    <!-- Story generate result table -->
                    <table id="summarize_result" width="100%"></table>
                </div>

                <br><hr width="50%">
            </details>

        </div>
    </div>
</body>
</html>